body{
	background-color: #fff;
	color: #757575 !important;
	margin:0px 0px; 
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
	background: url('') center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #272727;
}

main{
	min-width: 100% !important;
}

#header-container{
	background-size:cover;
	position:relative;
	height:100vh;
}